* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/BG01.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    overflow: hidden;
}

#wrap {
    text-align: center;
    margin-top: 50px;
}

#wrap button {
    margin-top: 10px;
}